/*
.card {
  box-shadow: #000a19 0 6px 24px 0, #070101 0 0 0 1px;
}

img {
  width: 100%;
}

.card-heading {
  margin-bottom: 3.2rem;
}

.card-content {
  margin: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.super-hit {
  background-color: #7dcea0;
}

.average {
  background-color: #f7dc6f;
}

.rating {
  padding: 6px;
  color: #000;
  margin-left: 20px;
  border-radius: 1600px;
}

 */